@model WebSystem.Mobel.ViewModesl.OrderModel


   @if(Model == null)
    {
        <section>
            <div class="rt_content">
                <div class="page_title">
                    <h2 class="fl">订单管理 > > 订单详情</h2>
                </div>

                <div><a style="font-size:18px;">WiFi详细信息</a></div>
                <table class="table">
                    <tr>
                        <td>地区：<a>毛里求疵 </a></td>
                        <td>收件人：技术科</td>
                        <td>联系电话：18300000000</td>
                        <td>收件地址：陕西省西安市雁塔区丈八路2000集都市印象18栋2160室</td>
                        
                    </tr>
                    <tr>
                        <td>下单人：杰森斯坦斯</td>
                        <td>订单号：null </td>
                        <td>开始时间：2011-2-3 00：00 </td>
                        <td>结束时间：2011-2-3 00：00 </td>

                    </tr>
                    <tr>
                        
                        <td>订单状态：<a>待发货 </a></td>
                        <td colspan="3">订单备注：<mark>帮我检查好呀~谢谢~</mark></td>
                    </tr>
                </table>
                <div><a style="font-size:18px;">保险详细信息</a></div>
                <table class="table">
                    <tr>
                        <td class="center">姓名</td>
                        <td class="center">保险类型</td>
                        <td class="center">这里是保单号</td>
                        <td class="center">这里是证件号</td>
                        <td class="center"> 电话号码 </td>
                        <td class="center">状态</td>
                        <td class="center"><strong class="rmb_icon">59.00</strong></td>
                        <td class="center">包</td>
                    </tr>
                    <tr>
                        <td class="center">姓名</td>
                        <td class="center">保险类型</td>
                        <td class="center">这里是保单号</td>
                        <td class="center">这里是证件号</td>
                        <td class="center"> 电话号码 </td>
                        <td class="center">状态</td>
                        <td class="center"><strong class="rmb_icon">59.00</strong></td>
                        <td class="center">包</td>
                    </tr>
                    <tr>
                        <td class="center">姓名</td>
                        <td class="center">保险类型</td>
                        <td class="center">这里是保单号</td>
                        <td class="center">这里是证件号</td>
                        <td class="center"> 电话号码 </td>
                        <td class="center">状态</td>
                        <td class="center"><strong class="rmb_icon">59.00</strong></td>
                        <td class="center">包</td>
                    </tr>
                </table>
                <aside class="mtb" style="text-align:right;">
                    <label>管理员操作：</label>
                    <input type="text" class="textbox textbox_295" placeholder="管理员操作备注" />

                    <input type="button" value="确认订单" class="group_btn" />
                    
                </aside>
            </div>
        </section>
   }
   else
   {
    <section>
        <div class="rt_content">
            <div class="page_title">
                <h2 class="fl">订单管理 > > 订单详情</h2>
            </div>

            <div><a style="font-size:18px;">WiFi详细信息</a></div>
            <table class="table">
                <tr>
                    <td>地区：<a>毛里求疵 </a></td>
                    <td>收件人：技术科</td>
                    <td>联系电话：18300000000</td>
                    <td>收件地址：陕西省西安市雁塔区丈八路2000集都市印象18栋2160室</td>

                </tr>
                <tr>
                    <td>下单人：杰森斯坦斯</td>
                    <td>订单号：null </td>
                    <td>开始时间：2011-2-3 00：00 </td>
                    <td>结束时间：2011-2-3 00：00 </td>

                </tr>
                <tr>

                    <td>订单状态：<a>待发货 </a></td>
                    <td colspan="3">订单备注：<mark>帮我检查好呀~谢谢~</mark></td>
                </tr>
            </table>
            <div><a style="font-size:18px;">保险详细信息</a></div>
            <table class="table">
                <tr>
                    <td class="center">姓名</td>
                    <td class="center">保险类型</td>
                    <td class="center">这里是保单号</td>
                    <td class="center">这里是证件号</td>
                    <td class="center"> 电话号码 </td>
                    <td class="center">状态</td>
                    <td class="center"><strong class="rmb_icon">59.00</strong></td>
                    <td class="center">包</td>
                </tr>
                <tr>
                    <td class="center">姓名</td>
                    <td class="center">保险类型</td>
                    <td class="center">这里是保单号</td>
                    <td class="center">这里是证件号</td>
                    <td class="center"> 电话号码 </td>
                    <td class="center">状态</td>
                    <td class="center"><strong class="rmb_icon">59.00</strong></td>
                    <td class="center">包</td>
                </tr>
                <tr>
                    <td class="center">姓名</td>
                    <td class="center">保险类型</td>
                    <td class="center">这里是保单号</td>
                    <td class="center">这里是证件号</td>
                    <td class="center"> 电话号码 </td>
                    <td class="center">状态</td>
                    <td class="center"><strong class="rmb_icon">59.00</strong></td>
                    <td class="center">包</td>
                </tr>
            </table>
            <aside class="mtb" style="text-align:right;">
               
                <label>管理员操作：</label>
                <input type="text" class="textbox textbox_295" placeholder="管理员操作备注" />

                <input type="button" value="确认订单" class="group_btn" />

            </aside>
        </div>
    </section>
   }


