@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">数据分析</h2>
            <a href="@Url.Action("","")" class="fr top_rt_btn add_icon">本数据纯属虚构，如有雷同，稍安勿躁！</a>
        </div>
       
    </div>
</section>